* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo img {
    width: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(6, 83, 6);
}

nav ul li .highlight {
    color: red;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    padding: 50px;
    position: relative;
    height: 100vh; /* Ocupa a altura inteira da tela */
    background-image: url("../../imagem/tlou2-ellie-arma.jpeg"); 
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
}

.content {
    max-width: 500px; /* Define a largura máxima */
    text-align: right; /* Alinha o texto à direita */
    z-index: 1; /* Garante que o conteúdo fique acima da imagem */
    color: white; /* Certifica que o texto tenha boa visibilidade */
    position: relative;
}

h1 {
    font-size: 60px;
    line-height: 1.1;
    font-weight: 700;
}

p {
    margin: 20px 0;
    font-size: 18px; /* Ajusta o tamanho do texto */
}

.buttons {
    display: flex;
    flex-direction: row; /* Coloca os botões lado a lado */
    gap: 20px;
    align-items: center; /* Alinha os botões ao centro */
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
    min-width: 150px; /* Define a largura mínima dos botões */
}

.btn.red {
    background-color: red;
}

.btn:hover {
    background-color: white;
    color: black;
}

footer {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    color: #888888;
    }